@import '../_app-common';

.landscape.page{

    .form{
        flex-direction: row;
        align-items: center;
    }

    .main_block{
        .img_psd{
            width: 5%;
            flex-grow: 1;
        }
    }
    
    .page_title{
        align-self: center;
        margin-top: 20;
    }
}

.page{
    
    .indic {
        margin-top: 20;
    }
    
    .button:disabled {
        background: $ligth-p;
    }
   
    
    .input:disabled {
      opacity: 0.5;
    }
    background: linear-gradient(30deg,#efefef 36%,#d5d5d5 90%);

    .form{
        flex-direction: column;
        align-items: center;

        justify-content: center;
    }

    .main_block{
        align-items: center;
        flex-direction: column;

        .p {
              flex-grow: 3;
        }

        .page_title{
            text-align: center;
            font-size: 35;
            font-family: cat;
            //font-family: main;
            margin-bottom: 20;
            color:rgb(27, 27, 27);
        }
        margin-top: 20;
        .img{
            vertical-align: middle;

        }
        .input_data{
            width: 90%;
            border-width: 0;    
        }

        .input_text {
            font-family: 'Roboto';
            font-size: 16; 
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            border: none;
        }
        
        .img_psd{
            width: 10%;
        }
    
        .input {  
            margin-left: 25;
            margin-right: 25;
            margin-bottom: 5;             
            border-bottom-width: 1;
            border-color:$dark-p; 
            //color: rgb(243, 235, 235);
            color: rgb(0,0,0);

            &:focus{
                border: black 10 solid;
            }

            &:active{
                border: black 10 solid;
            }
    
        }
        

        .button{
            background: $dark-p;
            opacity: 1;
            margin-left: 20;
            margin-right: 20;
            margin-top: 5;
            margin-bottom: 5;
            font-family: 'Roboto';
            color: rgb(243, 235, 235);

            &:active{
                background: $dark-p;
            }

        
        }

        .m-t-20 {
            margin-top: 30;
         }
    }
    
}